@import '../../../../styles/colors';


/*  ICON URLS
  ============================== */

$arrowLeft: url('../../../../assets/img/arrowLeft.svg');
$arrowRight: url('../../../../assets/img/arrowRight.svg');
$arrowDown: url('../../../../assets/img/arrowDown.svg');
$rotate: url('../../../../assets/img/rotate.svg');


/*  CONTROLS
  ============================== */

.App:not(.isTouch) .control {
    display: none;
}

.control {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;

    .top {
        display: flex;
        flex-direction: row;
    }

    button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 72px;
        margin: 16px;
        font-size: 36px;
        font-weight: bold;
        color: white;
        border: 0;
        background-color: $primaryColor;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 40px;
        cursor: pointer;
        transition: background-color .25s ease;

        &:hover,
        &:focus,
        &:active {
            background-color: $primaryColorSaturated;
        }

        &::selection {
            background-color: transparent;
        }

        &.arrow-left {
            background-image: $arrowLeft;
        }

        &.rotate {
            background-image: $rotate;
            background-size: 48px;
        }

        &.arrow-right {
            background-image: $arrowRight;
        }

        &.arrow-down {
            background-image: $arrowDown;
        }
    }

    .down {
        width: 304px;

        > button {
            width: 100%;
            margin: 0;
        }
    }

    > div > button {

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}