/*  TETROMINOES
  ============================== */

.I {
  background-color: #ff9705;
}

.J {
  background-color: #3434f4;
}

.L {
  background-color: #b300b2;
}

.O {
  background-color: #ed2121;
}

.S {
  background-color: #0090ad;
}

.T {
  background-color: #fff200;
}

.Z {
  background-color: #008f00;
}